@import '../../../shared/styles/variables.scss';

// .card {
//   grid-column: span 4;
//   display: flex;
//   flex-direction: column;
//   justify-content: space-between;
//   width: 100%;
//   height: 100%;
//   border: 1px solid $light-blue;
// }

// .top {
//   height: 300px;
// }

// .image {
//   display: block;
//   width: 100%;
//   height: 100%;
//   object-fit: cover;
//   margin-bottom: 28px;
// }

// .info {
//   display: flex;
//   flex-direction: column;
//   align-items: center;
//   padding: 10px;

//   &__title {
//     color: #1E1E1E;
//     font-family: 'Syne';
//     font-size: 24px;
//     font-weight: 700;
//     text-transform: uppercase;
//   }

//   &__desc {
//     flex: 1;
//     color: #556B84;
//     text-align: center;
//     font-family: 'Lato';
//     font-size: 24px;
//     font-style: normal;
//     font-weight: 300;
//     line-height: normal;
//   }
// }

// .controls {
//   display: flex;
//   padding: 10px;

//   &__button {
//     width: 80%;
//     margin-right: 16px;
//     transition: transform 0.2s;

//     &:hover {
//       transform: scale(1.1);
//     }
//   }

//   &__icon {
//     transition: transform 0.2s;

//     &:hover {
//       transform: scale(1.1);
//     }
//   }
// }



.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  grid-column: span 4;
  width: 100%;
  height: 572px;
  overflow: hidden;
  border: 1px solid $light-blue;
  background-color: #fff;

  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;

  &:hover {
    transform: scale(1.05);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  }
}

.top {
  margin-bottom: 16px;
}

.image {
  display: block;
  width: 100%;
  height: 300px;
  object-fit: cover;
  margin-bottom: 28px;
}

.title {
  text-align: center;
  color: #1E1E1E;
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
}

.info {
  padding: 0 32px 24px 32px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
  flex: 1;
}

.description {
  overflow-y: auto;
  margin-bottom: 8px;


  color: #556B84;
text-align:justify;
font-family: Lato;
font-size: 14px;
font-style: normal;
font-weight: 300;
line-height: normal;

  &::-webkit-scrollbar {
    width: 8px;
    /* Set the width of the scrollbar */
  }

  &::-webkit-scrollbar-thumb {
    background-color: #888;
    /* Set the color of the scrollbar thumb */
    border-radius: 4px;
    /* Set the border radius of the scrollbar thumb */
  }

  &::-webkit-scrollbar-thumb:hover {
    background-color: #555;
    /* Set the color of the scrollbar thumb on hover */
  }

  &::-webkit-scrollbar-track {
    background-color: whitesmoke;
    /* Set the color of the scrollbar track */
  }
}

.controls {
  display: flex;
}

.button {
  width: 100%;
  padding-right: 8px;
}