@import '../../../shared/styles/variables.scss';
@import '../../../shared/styles/mixin.scss';

.banner {
  width: 100%;
  position: absolute;
  top: 25%;
  z-index: 888;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  &__text {
    color: $white;
    font-size: 15px;
    font-weight: 800;
    text-transform: uppercase;
    text-align: center;

    @include onTablet {
      font-size: 25px;
    }
  }

  &__fulltext {
    color: $white;
    font-size: 100px;
    font-weight: 800;
    text-transform: uppercase;
    text-align: center;

    @include onTablet {
      font-size: 200px;
    }
  }
}
