@import '../../../shared/styles/mixin.scss';
@import '../../../shared/styles/variables.scss';

.home {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  width: 100%;
  min-height: 100vh;
  background: rgba(30, 30, 30, 0.48);
  margin-bottom: 100px;
}

.home:before {
  content: '';
  position: absolute;
  background: rgba(251, 3, 3, 0.034);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 777;
}

.home .banner {
  z-index: 888;
}

.home img {
  z-index: 000;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.img-slide{
  position: absolute;
  width: 100%;
  clip-path: circle(0% at 0 50%);
}

.img-slide.active{
  clip-path: circle(150% at 0 50%);
  transition: 2s ease;
  transition-property: clip-path;
}

.slider-navigation {
  z-index: 999;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slider-navigation .nav-btn {
  width: 24px;
  height: 24px;
  background: transparent;
  border: 2px solid $white;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.3s ease;
  position: relative;
}

.slider-navigation .nav-btn.active {
  background: transparent;
}

.slider-navigation .nav-btn.active::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 10px;
  height: 10px;
  background: $white;
  border-radius: 50%;
}

.slider-navigation .nav-btn:not(:last-child) {
  margin-right: 8px;
}

.slider-navigation .nav-btn:hover {
  border-color: $blue-gray;
}
