@import '../../../../shared/styles/variables.scss';
@import '../../../../shared/styles/mixin.scss';

.button {
  width: 100%;
  padding-block: 5px;
  font-size: 24px;
  font-weight: 600;
  text-transform: uppercase;
  background-color: $light-blue;
  cursor: pointer;

  @include onTablet {
    padding-block: 12px;
  }

  &:active {
    background-color: $accent-blue;
  }
}
