.favpage-cards {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 20px;
  margin-inline: 80px;
  margin-bottom: 150px;
}

.favpage-image {
  background-image: url('../../../shared/images/banner_3.png');
  height: 410px;
  overflow: hidden;
  margin-bottom: 40px;
}

.favpage-title {
  margin-top: 205px;
  color: #FFF;
  text-align: center;
  font-family: Syne;
  font-size: 48px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  text-transform: uppercase;
}

.favpage-clear {
  display: flex;
  justify-content: flex-end;
  margin-inline: 80px;
  margin-bottom: 40px;

  &__button {
    color: #556B84;
    font-family: 'Lato';
    font-size: 24px;
    background-color: #FFF;
    cursor: pointer;
  }
}