.bar {
  display: flex;

  &__icon {
    margin-right: 10px;
    transition: transform 0.2s;

    &:hover {
      transform: scale(1.1);
    }
  }

  &__login {
    width: 163px;
    transition: transform 0.2s;

    &:hover {
      transform: scale(1.1);
    }
  }
}