.header {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  padding-inline: 80px;
  background: rgba(30, 30, 30, 0.48);
  z-index: 999;
  top: 0;
}
