@import '../../../shared/styles/mixin.scss';
@import '../../../shared/styles/variables.scss';

.mock {
  height: 100vh;

  &__image {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('../../../shared/images/banner_2.png');
    background-position: center;
    height: 100%;

    &__text {
      color: $white;
      font-size: 18px;
      font-weight: 800;
      text-transform: uppercase;
      text-align: center;

      @include onTablet {
        font-size: 28px;
      }
    }
  }
}