@import '../../../shared/styles/variables.scss';
@import '../../../shared/styles/mixin.scss';

.slick-slide {
  padding: 20px 10px;
}

.slider-container {
  margin: 0 30px 150px 30px;

  &__title {
    margin-bottom: 30px;
    font-size: 20px;
    font-weight: 800;
    text-transform: uppercase;

    @include onDesktop {
      font-size: 32px;
    }
  }
}

.arrow {
  position: absolute;
  top: -63px;
  right: 10px;
  z-index: 1;
  cursor: pointer;
  border: 1px solid $black;

  &:hover {
    border: 1px solid $black;
  }

  &-left {
    width: 34px;
    height: 34px;
    right: 60px;
    background-color: $light-gray;
    background-image: url('../../../shared/icons/arrow-left.svg');
    background-repeat: no-repeat;
    background-position: center;
    border: 0px;
  }

  &-right {
    width: 34px;
    height: 34px;
    background-image: url('../../../shared/icons/arrow-right.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-color: $light-gray;
    border: 0px;
  }
}

.slick-dots.slick-thumb li {
  width: 20px; 
  height: 20px; 
  margin: 0 3px;
  border: 2px solid $black;
  border-radius: 50%;
  transition: all 0.5s ease-in-out;
  will-change: width;
  background-color: $white;
  position: relative;
}

.slick-dots.slick-thumb li::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: black;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.slick-dots.slick-thumb li.slick-active::before {
  opacity: 1; 
}
